<!DOCTYPE html>
<html  >
<head id="head"><title>
	Roland - TR-808 | Software Rhythm Composer
</title><meta name="description" content="TR-808: Software Rhythm Composer - The Boom, Snap, and Sizzle of the Most Famous Drum Machine Ever&mdash;Now in Your DAW" /> 
<meta charset="UTF-8" /> 
 
<meta name="viewport" content="width=device-width,initial-scale=1.0" /><!-- UA Test   --><meta name="author" content="Roland Corporation">


<link rel="alternate" href="index.html" hreflang="en-US" />
<meta property="og:type" content="product" />
<meta property="og:locale" content="en-US" />
<meta property="og:title" content="Roland - TR-808 | Software Rhythm Composer" />

<meta property="og:site_name" content="Roland" />
<meta property="og:image" content="https://static.roland.com/assets/images/products/main/rc_tr-808_main.jpg" />



<meta property="og:description" content="TR-808: Software Rhythm Composer - The Boom, Snap, and Sizzle of the Most Famous Drum Machine Ever&mdash;Now in Your DAW" />
<meta property="og:url" content="https://www.roland.com/global/products/rc_tr-808/features/" />
<link rel="canonical" href="../index.html" /><link rel="apple-touch-icon" href="https://static.roland.com/global/images/apple-touch-icon.png" /><link rel="shortcut icon" type="image/x-icon" href="https://static.roland.com/global/images/favicon.ico" /><link rel="icon" type="image/x-icon" href="https://static.roland.com/global/images/favicon.ico" /><!-- METATAGS -->
<meta name="facebook-domain-verification" content="x036rrvi13hgdqgtiujh61z7a83e7v" />
<meta name="p:domain_verify" content="0232c6211d738146465b3f54561707fa"/>
<meta name="google-site-verification" content="SPmSjcMcqbwNemFsV_fRI585T6YxBh4j7__STurhGrE" />
<!-- /METATAGS -->

<!-- !Load Fonts -->
<script type="text/javascript" src="https://use.typekit.net/alt7wjk.js"></script>
<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
<!-- /!Load Fonts -->
<link href="https://static.roland.com/global/css/base.css" type="text/css" rel="stylesheet" media="screen"/>
<link href="https://static.roland.com/global/css/nav/navigation.css" type="text/css" rel="stylesheet" media="screen"/>
<link href="../../../../CMSPages/base-stylesheetfile=|App_Themes|RolandComSite2|css|base.css.css" type="text/css" rel="stylesheet" media="screen"/>
<link href="../../../../CMSPages/navigation-stylesheetfile=|App_Themes|RolandComSite2|css|nav|navigation.css.css" type="text/css" rel="stylesheet" media="screen"/>
<noscript>  <link href='https://static.roland.com/global/css/noscript.css' rel='stylesheet' type='text/css'></noscript><script src="https://static.roland.com/global/js/lib.js" type="text/javascript"></script>
<script type="text/javascript">
	//<![CDATA[
jQuery.noConflict()
//]]>
</script><script src="https://static.roland.com/global/js/roland_core.js" type="text/javascript"></script><script src="https://static.roland.com/global/js/ga_events.js"></script><script src="https://static.roland.com/global/js/rc_sitesuggestion.js"></script><!--[if lt IE 9]><script src="https://static.roland.com/global/js/lib/html5shiv-printshiv.min.js" type="text/javascript" charset="utf-8"></script><![endif]--><!-- hreflangPart -->
<script type="text/javascript" src="https://static.roland.com/global/js/hreflang/hreflang-RolandComSite.js"></script>
<script type="text/javascript" src="https://static.roland.com/global/js/hreflang/hreflang.js"></script>
<script type="text/javascript">
  jQuery(document).ready(function(){
    var hrefhtml = hreflangProvider.writeLinkTag(hreflangs, window.location.href.replace(/[\?\#].*$/, ""));
    jQuery(head).append(hrefhtml);
  });
</script><!-- www.roland.com OneTrust Cookie start -->
<script type="text/javascript" src="https://cdn-ukwest.onetrust.com/consent/a8d4863c-9a10-4402-9921-8c7db85159ef/OtAutoBlock.js" ></script>
<script src="https://cdn-ukwest.onetrust.com/scripttemplates/otSDKStub.js"  type="text/javascript" charset="UTF-8" data-domain-script="a8d4863c-9a10-4402-9921-8c7db85159ef" ></script>
<script type="text/javascript">
function OptanonWrapper() { }
</script>
<!-- www.roland.com OneTrust Cookie end -->
<!-- Adobe Analytics -->
<script src="https://assets.adobedtm.com/9b498e8f2e23/9a4431cd379c/launch-840302a8cdb1.min.js" async></script>
<script src="https://static.roland.com/global/js/adobe_analytics/adobe_analytics_min.js"></script>
<script type="text/javascript">
jQuery(window).on("load", () => {
	var dlEvent = window.digitalDataEvents.pageView;
	var dlPage = {
		pageName: "Roland - TR-808 | Software Rhythm Composer",
		pageID: "0fffd1d5-4a16-4c6b-8f22-b615473c6e5b",
		pageTemplate: "Roland.Product",
		platform: "Kentico CMS",
		culture: "en-JM",
		siteName: "RolandComSite",
		breadcrumbs: "/global/categories/Product-Category-Page/Product-Subcategory-Page/Product-Page",
		environment: "LiveSite"
	};
	var currentPageTemplate = "Roland.Product";
	if (currentPageTemplate === "Roland.Product") {
		var bc = [];
		jQuery(".breadcrumbs li").each(function () {
			bc.push(jQuery(this).text());
		});
		var cat = bc[1];
		var subcat = (bc[2] != "TR-808") ? bc[2] : "n/a";
		var dlSubevent = window.digitalDataEvents.pageLoadEvents.hardware.pageView;
		var dlHardware = [{
			info: {
				prodID: "rc_tr-808",
				prodName: "TR-808"
			},
			category: {
				primary: cat,
				subCategory1: subcat
			}
		}];
		window.digitalData.push({event:dlEvent, page:dlPage, subevent:dlSubevent, hardware:dlHardware});
	} else {
		window.digitalData.push({event:dlEvent, page:dlPage});
	}
});
</script>
<!-- End Adobe Analytics -->
<link href="https://static.roland.com/global/css/rc_gallery.css" type="text/css" rel="stylesheet" media="screen"/>
<link href="https://static.roland.com/global/css/rc_mediagallery.css" type="text/css" rel="stylesheet" media="screen"/>
<link href="https://static.roland.com/global/css/products/products.css" type="text/css" rel="stylesheet" media="screen"/>
<link href="../../../../CMSPages/products-stylesheetfile=|App_Themes|RolandComSite2|css|products|products.css.css" type="text/css" rel="stylesheet" media="screen"/>
<script src="https://static.roland.com/global/js/rc_gallery.js" type="text/javascript"></script><script src="https://static.roland.com/global/js/rc_mediagallery.js" type="text/javascript"></script><script src="https://static.roland.com/global/js/products/products.js" type="text/javascript"></script><!-- Load Custom Header Information -->

<!-- Load Custom Header Information -->
</head>
<body class="LTR Unknown ENJM ContentBody" >
    
    <form method="post" action="/global/products/rc_tr-808/features/" id="form">
<input type="hidden" name="__CMSCsrfToken" id="__CMSCsrfToken" value="XVPveKR8g7WEQf0exePC0rv87HcgqiH/6toftTfRVg48pmvpmMJ80/V01feD9A4SLoyAAnwZA+J8XC8wr/M2e3nMwM1P8545kbnSrUOQW9c=" />


<input type="hidden" name="lng" id="lng" value="en-JM" />
<script src="../../../../CMSPages/WebServiceCall-scriptfile=~|CMSScripts|WebServiceCall.js.js" type="text/javascript"></script>
<script type="text/javascript">
	//<![CDATA[

function PM_Postback(param) { if (window.top.HideScreenLockWarningAndSync) { window.top.HideScreenLockWarningAndSync(1080); } if(window.CMSContentManager) { CMSContentManager.allowSubmit = true; }; __doPostBack('m$am',param); }
function PM_Callback(param, callback, ctx) { if (window.top.HideScreenLockWarningAndSync) { window.top.HideScreenLockWarningAndSync(1080); }if (window.CMSContentManager) { CMSContentManager.storeContentChangedStatus(); };WebForm_DoCallback('m$am',param,callback,ctx,null,true); }
//]]>
</script>
<script src="../../../../ScriptResource-d=NJmAwtEo3Ipnlaxl6CMhvhOZDRUvfWTkUo7UwZ8Dmbd80p4ueWMxNSfWvsVRfLna64RDrs55qUefOpjbOofiThnMZQtZrimzlcBToohDwcfzJQZYxjyUn-2aOexosRpWYvXCFMfXONoy2He4DYhDxzTVuVu944YEvXyYWZDiQsU1&t=10c151ff.axd" type="text/javascript"></script>
<script type="text/javascript">
	//<![CDATA[

var CMS = CMS || {};
CMS.Application = {
  "language": "en",
  "imagesUrl": "/CMSPages/GetResource.ashx?image=%5bImages.zip%5d%2f",
  "isDebuggingEnabled": false,
  "applicationUrl": "/",
  "isDialog": false,
  "isRTL": "false"
};

//]]>
</script>
<input type="hidden" name="__VIEWSTATEGENERATOR" id="__VIEWSTATEGENERATOR" value="A5343185" />
    
    <div id="ctxM">

</div>
    

  <!-- !HEADER -->
  <nav id="globalheader" role="navigation">
    
<a href="../../../index.html" id="gh-roland"><i class="glyphicon glyphicon-brand"></i></a>

    <div class="gh-col">
      <ul id="globalnav">


<li id="gn-products">
  <span class="text-uppercase ">
    
      <span data-href="/products/" class="active">
        Products
      </span>
    
  </span>
  <span class="touch-interceptor"></span>
  <nav class="gn-contentbrowser">
    
    
    <div class="cb-container">
      <div class="row">
        
        <ul class="col-1"><li>
  <a href="../../../categories/pianos/index.html" >
    Pianos
  </a>
</li>

<li>
  <a href="../../../categories/synthesizers/index.html" >
    Synthesizers
  </a>
</li>

<li>
  <a href="../../../categories/keyboards/index.html" >
    Keyboards
  </a>
</li>

<li>
  <a href="../../../categories/guitar_bass/index.html" >
    Guitar & Bass
  </a>
</li>

<li>
  <a href="../../../categories/drums_percussion/index.html" >
    Drums & Percussion
  </a>
</li>

<li>
  <a href="../../../categories/wind_instruments/index.html" >
    Wind Instruments
  </a>
</li>

</ul><ul class="col-1">

<li>
  <a href="../../../categories/production/index.html" >
    Production
  </a>
</li>

<li>
  <a href="../../../categories/amplifiers/index.html" >
    Amplifiers
  </a>
</li>

<li>
  <a href="../../../categories/aira/index.html" >
    AIRA & DJ
  </a>
</li>

<li>
  <a href="../../../categories/roland_cloud/index.html" >
    Roland Cloud
  </a>
</li>

<li>
  <a href="https://proav.roland.com/global/" target="_blank">
    Professional A/V
  </a>
</li>

<li>
  <a href="../../../categories/accessories/index.html" >
    Accessories
  </a>
</li>

</ul><div class="gn-promos"><a id="p_lt_ctl02_Repeater1_repItems_ctl00_ctl00_MenuBanner_ctl01_ctl00_lnkBanner" class="gn-promo" href="../../../promos/fp_series/index.html">
  <figure>
    <img id="p_lt_ctl02_Repeater1_repItems_ctl00_ctl00_MenuBanner_ctl01_ctl00_imgBanner" src="https://static.roland.com/assets/promos/png/menu_fp-x_series.png" alt="FP-X Series" />
    <figcaption>
      <h4>FP-X Series</h4>
      <p>Matching on-the-move designs with supreme playability and heavyweight features, the FP-X series represents a fresh generation of portable pianos.</p>
    </figcaption>
  </figure>
</a>



<a id="p_lt_ctl02_Repeater1_repItems_ctl00_ctl00_MenuBanner_ctl02_ctl00_lnkBanner" class="gn-promo" href="../../verselab_mv-1/index.html">
  <figure>
    <img id="p_lt_ctl02_Repeater1_repItems_ctl00_ctl00_MenuBanner_ctl02_ctl00_imgBanner" src="https://static.roland.com/assets/promos/png/menu_verselab_mv-1.png" alt="VERSELAB MV-1" />
    <figcaption>
      <h4>VERSELAB MV-1</h4>
      <p>All-in-one song production with authentic Roland sounds and songwriting tools to assist modern music makers at any level.</p>
    </figcaption>
  </figure>
</a>



</div>
        
      </div>
    </div>  

    
  </nav>
</li>






<li id="gn-community">
  <span class="text-uppercase ">
    
      <a href="../../../community/index.html" class="" >
        Community
      </a>
    
  </span>
  <span class="touch-interceptor"></span>
  <nav class="gn-contentbrowser">
    
    
    <div class="cb-container">
      <div class="row">
        
        <ul class=""><li>
  <a href="https://www.facebook.com/Roland" target="_blank">
    Facebook
  </a>
</li>

<li>
  <a href="https://www.youtube.com/user/RolandChannel" target="_blank">
    YouTube
  </a>
</li>

<li>
  <a href="https://twitter.com/RolandGlobal" target="_blank">
    Twitter
  </a>
</li>

<li>
  <a href="https://www.instagram.com/rolandglobal/" target="_blank">
    Instagram
  </a>
</li>

<li>
  <a href="../../../social_media/index.html" target="_self">
    Worldwide Social Network
  </a>
</li>

</ul><div class="gn-promos"><a id="p_lt_ctl02_Repeater1_repItems_ctl01_ctl00_MenuBanner_ctl01_ctl00_lnkBanner" class="gn-promo" href="https://www.facebook.com/Roland" target="_blank">
  <figure>
    <img id="p_lt_ctl02_Repeater1_repItems_ctl01_ctl00_MenuBanner_ctl01_ctl00_imgBanner" src="https://static.roland.com/assets/promos/png/menu_facebook.png" alt="Facebook" />
    <figcaption>
      <h4>Facebook</h4>
      <p>Roland Global Official Fan Page. Stay up to date with Roland news, artists, promotions, events, and more.</p>
    </figcaption>
  </figure>
</a>



<a id="p_lt_ctl02_Repeater1_repItems_ctl01_ctl00_MenuBanner_ctl02_ctl00_lnkBanner" class="gn-promo" href="https://www.youtube.com/user/RolandChannel" target="_blank">
  <figure>
    <img id="p_lt_ctl02_Repeater1_repItems_ctl01_ctl00_MenuBanner_ctl02_ctl00_imgBanner" src="https://static.roland.com/assets/promos/png/menu_youtube.png" alt="YouTube Channel" />
    <figcaption>
      <h4>YouTube Channel</h4>
      <p>This channel provides information of the Roland's best quality electronic musical instruments. Provides an overview of key features, functions and operational tips.</p>
    </figcaption>
  </figure>
</a>



<a id="p_lt_ctl02_Repeater1_repItems_ctl01_ctl00_MenuBanner_ctl03_ctl00_lnkBanner" class="gn-promo" href="../../../social_media/index.html">
  <figure>
    <img id="p_lt_ctl02_Repeater1_repItems_ctl01_ctl00_MenuBanner_ctl03_ctl00_imgBanner" src="https://static.roland.com/assets/promos/png/menu_social_media.png" alt="Worldwide Social Network" />
    <figcaption>
      <h4>Worldwide Social Network</h4>
      <p>Welcome to our global family. The Roland Worldwide Social Network keeps you connected to the latest products, exciting events, and much more.</p>
    </figcaption>
  </figure>
</a>



</div>
        
      </div>
    </div>  

    
  </nav>
</li>






<li id="gn-support">
  <span class="text-uppercase ">
    
      <a href="../../../support/index.html" class="" >
        Support
      </a>
    
  </span>
  <span class="touch-interceptor"></span>
  <nav class="gn-contentbrowser">
    
    
    <div class="cb-container">
      <div class="row">
        
        <ul class=""><li>
  <a href="../../../support/updates_drivers/index.html" >
    Updates & Drivers
  </a>
</li>

<li>
  <a href="../../../support/owners_manuals/index.html" >
    Owner’s Manuals
  </a>
</li>

<li>
  <a href="../../../support/support_documents/index.html" >
    Support Documents
  </a>
</li>

<li>
  <a href="https://www.youtube.com/c/RolandSupportChannel" target="_blank">
    Quick Start Video
  </a>
</li>

<li>
  <a href="../../../support/support_news/index.html" >
    Support News
  </a>
</li>

<li>
  <a href="../../../support/archives/readfirst/index.html" >
    Legacy Product Info
  </a>
</li>

</ul><div class="gn-promos"><a id="p_lt_ctl02_Repeater1_repItems_ctl02_ctl00_MenuBanner_ctl01_ctl00_lnkBanner" class="gn-promo" href="../../../support/index.html">
  <figure>
    <img id="p_lt_ctl02_Repeater1_repItems_ctl02_ctl00_MenuBanner_ctl01_ctl00_imgBanner" src="https://static.roland.com/assets/promos/jpg/menu_support.jpg" alt="Support by Product" />
    <figcaption>
      <h4>Support by Product</h4>
      <p>Get the latest updates/drivers, owner&#39;s manuals, and support documents for your product.</p>
    </figcaption>
  </figure>
</a>



<a id="p_lt_ctl02_Repeater1_repItems_ctl02_ctl00_MenuBanner_ctl02_ctl00_lnkBanner" class="gn-promo" href="https://www.youtube.com/c/RolandSupportChannel" target="_blank">
  <figure>
    <img id="p_lt_ctl02_Repeater1_repItems_ctl02_ctl00_MenuBanner_ctl02_ctl00_imgBanner" src="https://static.roland.com/assets/promos/jpg/menu_quickstart.jpg" alt="Quick Start" />
    <figcaption>
      <h4>Quick Start</h4>
      <p>This channel provides instructions of the Roland&#39;s electronic musical instruments and equipment.</p>
    </figcaption>
  </figure>
</a>



</div>
        
      </div>
    </div>  

    
  </nav>
</li>






<li id="gn-articles">
  <span class="text-uppercase ">
    
      <a href="https://articles.roland.com/" class="" target="_blank">
        Articles
      </a>
    
  </span>
  <span class="touch-interceptor"></span>
  <nav class="gn-contentbrowser">
    
    
    <div class="cb-container">
      <div class="row">
        
        <ul class=""><li>
  <a href="https://articles.roland.com/stories" target="_blank">
    Stories
  </a>
</li>

<li>
  <a href="https://articles.roland.com/learn" target="_blank">
    Learn
  </a>
</li>

<li>
  <a href="../../../discover/index.html" >
    Discover
  </a>
</li>

</ul><div class="gn-promos"><a id="p_lt_ctl02_Repeater1_repItems_ctl03_ctl00_MenuBanner_ctl01_ctl00_lnkBanner" class="gn-promo" href="https://articles.roland.com/stories" target="_blank">
  <figure>
    <img id="p_lt_ctl02_Repeater1_repItems_ctl03_ctl00_MenuBanner_ctl01_ctl00_imgBanner" src="https://static.roland.com/assets/promos/jpg/avp_stories_menu_banner.jpg" alt="Stories" />
    <figcaption>
      <h4>Stories</h4>
      <p>Spark creativity with in-depth writing on people, trends, tech, and history.</p>
    </figcaption>
  </figure>
</a>



<a id="p_lt_ctl02_Repeater1_repItems_ctl03_ctl00_MenuBanner_ctl02_ctl00_lnkBanner" class="gn-promo" href="https://articles.roland.com/learn" target="_blank">
  <figure>
    <img id="p_lt_ctl02_Repeater1_repItems_ctl03_ctl00_MenuBanner_ctl02_ctl00_imgBanner" src="https://static.roland.com/assets/promos/jpg/avp_learn_menu_banner.jpg" alt="Learn" />
    <figcaption>
      <h4>Learn</h4>
      <p>Expand your knowledge with tutorials and guides from subject-matter experts.</p>
    </figcaption>
  </figure>
</a>



<a id="p_lt_ctl02_Repeater1_repItems_ctl03_ctl00_MenuBanner_ctl03_ctl00_lnkBanner" class="gn-promo" href="../../../discover/index.html">
  <figure>
    <img id="p_lt_ctl02_Repeater1_repItems_ctl03_ctl00_MenuBanner_ctl03_ctl00_imgBanner" src="https://static.roland.com/assets/promos/jpg/avp_discover_menu_banner.jpg" alt="Discover" />
    <figcaption>
      <h4>Discover</h4>
      <p>Experience Roland with an immersive collection of interactive pages and microsites.</p>
    </figcaption>
  </figure>
</a>



</div>
        
      </div>
    </div>  

    
  </nav>
</li>






<li id="gn-IR">
  <span class="text-uppercase ">
    
      <a href="https://ir.roland.com/en/ir.html" class="" target="_blank">
        IR
      </a>
    
  </span>
  <span class="touch-interceptor"></span>
  <nav class="gn-contentbrowser">
    

    
  </nav>
</li>






<li id="gn-company">
  <span class="text-uppercase ">
    
      <a href="../../../company/index.html" class="" target="_self">
        Company
      </a>
    
  </span>
  <span class="touch-interceptor"></span>
  <nav class="gn-contentbrowser">
    

    
  </nav>
</li>






<li id="gn-login">
  <span class="text-uppercase ">
    
      <span class="gn-login-text"> Backstage</span>
    
  </span>
  <span class="touch-interceptor"></span>
  <nav class="gn-contentbrowser">
    
<ul><li>
  <a href="/backstage/" >
    Log In
  </a>
</li>

<li>
  <a href="/backstage/signup" >
    Create Account
  </a>
</li>

</ul>
    
  </nav>
</li>








<li id="gh-search">
<div id="p_lt_ctl02_Repeater8_repItems_ctl00_ctl00_pnlSearch" class="search-input">
	
  <a href="../../../search/index.html" class="glyphicon-search"></a>
  <input name="p$lt$ctl02$Repeater8$repItems$ctl00$ctl00$txtWord" type="text" maxlength="1000" id="p_lt_ctl02_Repeater8_repItems_ctl00_ctl00_txtWord" class="form-control" Placeholder="" />
  <input type="submit" name="p$lt$ctl02$Repeater8$repItems$ctl00$ctl00$btnSearch" value="" id="p_lt_ctl02_Repeater8_repItems_ctl00_ctl00_btnSearch" class="btn btn-default" style="display:none;" />

</div>
</li>



</ul>
    </div>
    
    <div id="gh-suggestion" data-setting="//static.roland.com/global/js/suggestion.json">
        <p class="gs-lead"></p>
        <p class="gs-local"><span></span><a href="javascript:void(0)"></a></p>
        <span class="button-close">×</span>
    </div>
  </nav>
  <!-- /!HEADER -->
  


<!-- !MASTHEAD -->


<header class="hero-resizable" id="product-hero">
  <div class="row">
    <div class="hero-container">
      <div class="hero-headline">
        <h1>TR-808</h1>
        <h2>Software Rhythm Composer</h2>
      </div>
      <div class="hero">
        <img alt="TR-808" data-src="https://static.roland.com/assets/images/products/main/rc_tr-808_main.jpg" src="data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs%3D" />
        <noscript><img alt="TR-808" src="https://static.roland.com/assets/images/products/main/rc_tr-808_main.jpg" /></noscript></div>
    </div>
  </div>
<a id="p_lt_ctl04_pageplaceholder_p_lt_ctl01_BasicRepeater1_ctl00_ctl00_ctl00_repeaterHero_ctl00_ctl00_repeaterMastheadAction_ctl00_ctl00_lnkBanner" href="/cloud/memberships" class="buynow " onclick="tmEventtrack(&#39;Link&#39;, &#39;External&#39;, &#39;/cloud/memberships&#39;);">Join Now</a>





  

</header>




<section class="intro">
  <h2>The Boom, Snap, and Sizzle of the Most Famous Drum Machine Ever&mdash;Now in Your DAW</h2>
  <p>The TR-808 Software Synthesizer is a detailed replica of the legendary TR-808&mdash;one of the most revered and sought-after electronic music instruments of all time. The plug-in version offers the sound and behavior of the original plus new features that virtually modify the hardware for more sound choices and faster, more fluid programming.</p>

  
</section>







<!-- /!MASTHEAD -->

<!-- !NAVIGATION -->  
<nav id="productheader">
  <div class="bc-container">
    <ol class="breadcrumbs cf">
  <li><a href="../../../index.html">Home</a></li>
  <li><a href="../../../categories/roland_cloud/index.html">Roland Cloud</a></li>

<li><a href="../../../categories/roland_cloud/legendary/index.html">Legendary</a></li>


  <li><a href="../index.html"><strong>TR-808</strong></a></li>
</ol>



<a href="../../../index.html" id="ph-home">Home</a>

  </div>

  
  

<div class="row cf">  
  <h2><a href="../index.html">TR-808</a></h2>
  <ul id="productnav">
    <li><a href="index.html">Features</a></li>
    <li><a href="../specifications/index.html">Specs</a></li>
    
<!--    <li><a href="/global/products/rc_tr-808/articles/">Guide/Articles</a></li> -->
    <li><a href="../articles/index.html">Guide/Articles</a></li>
<!--     -->
    
<!--     -->
    
    <li><a href="../support/index.html">Support</a></li>
  </ul>
</div>


<ul id="ph-social" class="cf">
  <li><a href="https://twitter.com/intent/tweet?text=TR-808:+Software+Rhythm+Composer+https://www.roland.com/global/products/rc_tr-808/" onclick="javascript:window.open(this.href,'','width=400,height=400,menubar=no,toolbar=no,scrollbars=auto');return false;" class="icon icon-twitter">Tweet</a></li>
  <li><a href="https://www.facebook.com/sharer/sharer.php?u=https://www.roland.com/global/products/rc_tr-808/" onclick="javascript:window.open(this.href,'','width=400,height=400,menubar=no,toolbar=no,scrollbars=auto');return false;" class="icon icon-facebook">Facebook</a></li>
  <li><a href="https://www.pinterest.com/pin/create/button/?url=https://www.roland.com/global/products/rc_tr-808/" onclick="javascript:window.open(this.href,'','menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;" class="icon icon-pinterest">Pinterest</a></li>
</ul>



</nav>
<!-- /!NAVIGATION -->



<div id="content-container">
  <!-- !FEATURES -->
  
  <article class="main main-dynamic" id="features">
    <section class="gallery gallery-fullsize">
  <div class="gallery-container carousel-container">
    <div class="gallery-content carousel-content cf">
      
          
          <figure>
            <a href="https://static.roland.com/assets/images/products/gallery/rc_tr-808_gal.jpg" target="_blank">
              <img src="data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs%3D" data-src="https://static.roland.com/assets/images/products/gallery/rc_tr-808_gal.jpg" alt="" class="gc-thumb" />
              <noscript><img src="https://static.roland.com/assets/images/products/gallery/rc_tr-808_gal.jpg" alt="" /></noscript>
            </a>
          </figure>
        
          
          <figure>
            <a href="https://static.roland.com/assets/images/products/gallery/rc_tr-808_2_gal.jpg" target="_blank">
              <img src="data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs%3D" data-src="https://static.roland.com/assets/images/products/gallery/rc_tr-808_2_gal.jpg" alt="" class="gc-thumb" />
              <noscript><img src="https://static.roland.com/assets/images/products/gallery/rc_tr-808_2_gal.jpg" alt="" /></noscript>
            </a>
          </figure>
        
          </div><div class='gallery-content carousel-content cf'>
          <figure>
            <a href="https://static.roland.com/assets/images/products/gallery/rc_tr-808_3_gal.jpg" target="_blank">
              <img src="data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs%3D" data-src="https://static.roland.com/assets/images/products/gallery/rc_tr-808_3_gal.jpg" alt="" class="gc-thumb" />
              <noscript><img src="https://static.roland.com/assets/images/products/gallery/rc_tr-808_3_gal.jpg" alt="" /></noscript>
            </a>
          </figure>
        
          
          <figure>
            <a href="https://static.roland.com/assets/images/products/gallery/rc_tr-808_4_gal.jpg" target="_blank">
              <img src="data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs%3D" data-src="https://static.roland.com/assets/images/products/gallery/rc_tr-808_4_gal.jpg" alt="" class="gc-thumb" />
              <noscript><img src="https://static.roland.com/assets/images/products/gallery/rc_tr-808_4_gal.jpg" alt="" /></noscript>
            </a>
          </figure>
        
      
      
      
    </div>
  </div>
  <nav class="dot-nav cf">
    <ul class="carousel-indicator">
      
      <li>&bull;</li>
      
      <li>&bull;</li>
      
    </ul>
  </nav>
  <nav class="paddle-nav">
    <ul>
      <li><span class="paddle-small paddle-small-left carousel-prev">&lt;</span></li>
      <li><span class="paddle-small paddle-small-right carousel-next">&gt;</span></li>
    </ul>
  </nav>
  <script type="text/template" class="modal-gallery-template" />
	<div class="modal-gallery">
      <div class="modal-background"></div>
	  <ul class="gallery-container carousel-container">
          <% for (var i=0,len=images.length; i<len; i++) { %>
          <li class="gallery-content carousel-content"><img src="<%= (images[i]).src %>" alt="" /></li>
          <% } %>
      </ul>
      <nav class="dot-nav cf">
        <ul class="carousel-indicator">
          <% for (var i=0,len=images.length; i<len; i++) { %>
          <li>•</li>
          <% } %>
        </ul>
      </nav>
      <nav class="paddle-nav">
        <ul>
          <li><span class="paddle paddle-left carousel-prev">&lt;</span></li>
          <li><span class="paddle paddle-right carousel-next">&gt;</span></li>
        </ul>
      </nav>
      <i class="button-close"></i>
    </div>
  </script>
</section>






<section class="content cf">
   
  <div class="features">
    <blockquote>&ldquo;It&rsquo;s almost impossible to imagine the modern musical landscape without the distinctive sounds of the Roland TR-808 drum machine.&rdquo;<br />
&mdash;Rolling Stone</blockquote>

<h6>A Legend in the Making</h6>

<p>In 1980, the Roland TR-808 Rhythm Composer was released as a quick and easy songwriting tool for musicians. At the time, the high cost of memory drove Roland engineers to use analog synthesis instead of samples for its sounds. Through a series of happy accidents, they utilized unique transistors, creating a one-of-a-kind sound that set the 808 in its own sonic universe. However, it didn&rsquo;t exactly deliver &ldquo;traditional&rdquo; or &ldquo;realistic&rdquo; drum sounds, leading to it being dismissed by many at the time, with only about 12,000 units ever made.</p>

<h6>The Thing That Goes Boom</h6>

<p>Once a few adventurous musicians and producers got their hands on the TR-808 and started tweaking those knobs, the world began to (literally) feel the impact it would leave on music forever. For decades since, the sizzling hi-hats and snappy snare, the clicky rim shot, the unmistakable cowbell, and yes&mdash;that booming bass drum&mdash;have been heard on worldwide hits and underground classics.</p>

<h6>That 8 Oh 8</h6>

<p>Increasingly revered by musicians and producers around the globe, the TR-808&rsquo;s influence only continues to grow. New musical genres make heavy use of the 808 sound, with some utilizing it as the main instrument and defining sound of the style. Its influence is so deep that it&rsquo;s been name-dropped in famous songs, had albums dedicated to it, had bands named after it, and even been the subject of a feature-length documentary film. For some younger music fans, the 808 is no oddity&mdash;it&rsquo;s simply &ldquo;what drums sound like.&rdquo;</p>

<div class="soundcloud"><iframe frameborder="no" height="166" scrolling="no" src="https://w.soundcloud.com/player/?url=https://api.soundcloud.com/tracks/409231977&color=FF5A00" width="100%"></iframe></div>

<h6>Plug In Your Own TR-808</h6>

<p>Original TR-808 units sell for huge sums on the used market, and its sound is often imitated with sample-packs and knockoffs. But the 808 is a complex beast and far more than the sum of its parts. Using our proprietary Analog Circuit Behavior technology, we&rsquo;ve painstakingly recreated the original analog circuits that are the essence of the TR-808&rsquo;s sound. Our TR-808 plug-in sounds identical to the original&mdash;with all its nuance and detail&mdash;while adding some groundbreaking new features:</p>

<ul>
	<li>Tuning and decay on each instrument and the ability to overdrive the internal circuitry update the 808 for modern sounds</li>
	<li>The classic 808 step sequencer expands with lanes for each sound, so you can program faster and more fluidly</li>
	<li>Each pattern has eight variations for evolving sequences that keep things interesting</li>
	<li>Drag and drop audio or MIDI patterns directly from the 808 into a project</li>
	<li>Adjustable flams, sub-steps, and soft hits create detailed fills and ratcheted sequences</li>
	<li>Each instrument has its own &ldquo;last step&rdquo; and shuffle settings so you can play with timing, experiment with complex meters, and dial in just the right groove</li>
</ul>

<h6>Hardware Integration</h6>

<p>Our TR-808 software instrument integrates seamlessly with our TR-8S Rhythm Performer and TR-08 Roland Boutique hardware. Transfer TR-8S patterns directly into the TR-808 plug-in or create beats on the go and send them back to the hardware. Or you can use the TR-8S or TR-08 for direct hands-on control of the plug-in.</p>

<div class="rc_cta_panel">
<p>Join Roland Cloud today for the famous boom and sizzle of the 808 along with a host of other legendary Roland instruments. Curious to hear what came after the 808? Check out its equally influential sibling and a dance music staple: the <a href="../../rc_tr-909/index.html">TR-909</a>.</p>

<div class="rc_button"><span class="stn_button"><a href="https://www.roland.com/global/promos/about_roland_cloud/membership/">Join Roland Cloud</a></span></div>
</div>

  </div>
  
</section>


  </article>






  <!-- /!FEATURES -->
  <!-- !SPECS -->
  <article class="main main-dynamic" id="specifications">
    
<section class="specs row">

    <dl id="specs">
	<dt class="section">Specifications</dt>
	<dt>Maximum Polyphony</dt>
	<dd>11 voices</dd>
	<dt>Sampling Frequency</dt>
	<dd>44.1 kHz, 48 kHz, 88.2 kHz, 96 kHz, 176.4 kHz, 192 kHz</dd>
	<dt>Step Sequencer</dt>
	<dd>11 instrument parts<br />
	16 steps per 1 measure<br />
	8 (A - H) variations per 1 pattern</dd>
	<dt>INST tone</dt>
	<dd>BASS DRUM<br />
	SNARE DRUM<br />
	LOW TOM / LO CONGA<br />
	MID TOM / MID CONGA<br />
	HI TOM / HI CONGA<br />
	RIM SHOT / CLAVES<br />
	HAND CLAP / MARACAS<br />
	COWBELL<br />
	CYMBAL<br />
	OPEN HI-HAT<br />
	CLOSED HI-HAT<br />
	* Slashed instruments are selectable.</dd>
	<dt>Memories per bank</dt>
	<dd>128 patterns<br />
	128 memories<br />
	*User can make new user banks.</dd>
	<dt>Plug-In Formats</dt>
	<dd>VSTi 2.4(64bit)* Windows only<br />
	VSTi 3.6(64bit)<br />
	AU<br />
	AAX</dd>
	<dt class="section">System Requirements (macOS&trade;)</dt>
	<dt>Operating System</dt>
	<dd>macOS 10.14<br />
	macOS 10.15<br />
	macOS 11</dd>
	<dt>Host Application</dt>
	<dd>VST instruments (VSTi) version: VST 3.6 compatible<br />
	Audio Units (AU) version: Audio Units V2 compatible<br />
	AAX Compatible</dd>
	<dt>CPU</dt>
	<dd>Intel&reg; Core&trade; i5 or better<br />
	Apple M1 chip</dd>
	<dt>RAM</dt>
	<dd>2 GB or more</dd>
	<dt>Hard Disk</dt>
	<dd>400 MB or more</dd>
	<dt>Display/Colors</dt>
	<dd>1280 x 800 or higher/16.7 million colors or more</dd>
	<dt>Other</dt>
	<dd>You&#39;ll need Internet connectivity to authenticate this software</dd>
	<dt class="section">System Requirements (Windows&reg;)</dt>
	<dt>Operating System</dt>
	<dd>Microsoft&reg; Windows&reg; 8.1 (64-bit)<br />
	Microsoft&reg; Windows&reg; 10 (64-bit)<br />
	<br />
	*This does not work with the Windows&reg; RT.<br />
	*This does not work with the Windows&reg; Phone.<br />
	*This does not work on the virtual machines such as Hyper-V, Virtual PC, or Boot Camp.</dd>
	<dt>Host Application</dt>
	<dd>VST instruments (VSTi) version: VST 2.4/3.6 compatible<br />
	AAX Compatible</dd>
	<dt>CPU</dt>
	<dd>Intel&reg; Core&trade; i5 or better</dd>
	<dt>RAM</dt>
	<dd>2 GB or more</dd>
	<dt>Hard Disk</dt>
	<dd>400 MB or more</dd>
	<dt>Display/Colors</dt>
	<dd>1280 x 800 or higher, 24 bit Full Color or more</dd>
	<dt>Other</dt>
	<dd>You&#39;ll need Internet connectivity to authenticate this software.</dd>
	<dt class="comment">* Although Roland has tested numerous configurations, and has determined that on average, a computer system similar to that described above will permit normal operation of the TR-808&nbsp;Software Rhythm Composer, Roland cannot guarantee that a given computer can be used satisfactorily with the TR-808&nbsp;Software Rhythm Composer based solely on the fact that it meets the above requirements. This is because there are too many other variables that may influence the processing environment, including differences in motherboard design and the particular combination of other devices involved.</dt>
	<dt class="comment">Microsoft Windows is a registered trademark of Microsoft Corporation in the United States and/or other countries.<br />
	<br />
	VST is a trademark and software of Steinberg Media Technologies GmbH.&nbsp;</dt>
</dl>


</section>


  </article>
  <!-- /!SPECS -->
  <!-- !MEDIA -->
  <article class="main main-dynamic" id="media">
    <section class="gallery gallery-fullsize">
  <div class="gallery-container carousel-container">
    <div class="gallery-content carousel-content cf">
      
          
          <figure>
            <a href="https://static.roland.com/assets/images/products/gallery/rc_tr-808_gal.jpg" target="_blank">
              <img src="data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs%3D" data-src="https://static.roland.com/assets/images/products/gallery/rc_tr-808_gal.jpg" alt="" class="gc-thumb" />
              <noscript><img src="https://static.roland.com/assets/images/products/gallery/rc_tr-808_gal.jpg" alt="" /></noscript>
            </a>
          </figure>
        
          
          <figure>
            <a href="https://static.roland.com/assets/images/products/gallery/rc_tr-808_2_gal.jpg" target="_blank">
              <img src="data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs%3D" data-src="https://static.roland.com/assets/images/products/gallery/rc_tr-808_2_gal.jpg" alt="" class="gc-thumb" />
              <noscript><img src="https://static.roland.com/assets/images/products/gallery/rc_tr-808_2_gal.jpg" alt="" /></noscript>
            </a>
          </figure>
        
          </div><div class='gallery-content carousel-content cf'>
          <figure>
            <a href="https://static.roland.com/assets/images/products/gallery/rc_tr-808_3_gal.jpg" target="_blank">
              <img src="data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs%3D" data-src="https://static.roland.com/assets/images/products/gallery/rc_tr-808_3_gal.jpg" alt="" class="gc-thumb" />
              <noscript><img src="https://static.roland.com/assets/images/products/gallery/rc_tr-808_3_gal.jpg" alt="" /></noscript>
            </a>
          </figure>
        
          
          <figure>
            <a href="https://static.roland.com/assets/images/products/gallery/rc_tr-808_4_gal.jpg" target="_blank">
              <img src="data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs%3D" data-src="https://static.roland.com/assets/images/products/gallery/rc_tr-808_4_gal.jpg" alt="" class="gc-thumb" />
              <noscript><img src="https://static.roland.com/assets/images/products/gallery/rc_tr-808_4_gal.jpg" alt="" /></noscript>
            </a>
          </figure>
        
      
      
      
    </div>
  </div>
  <nav class="dot-nav cf">
    <ul class="carousel-indicator">
      
      <li>&bull;</li>
      
      <li>&bull;</li>
      
    </ul>
  </nav>
  <nav class="paddle-nav">
    <ul>
      <li><span class="paddle-small paddle-small-left carousel-prev">&lt;</span></li>
      <li><span class="paddle-small paddle-small-right carousel-next">&gt;</span></li>
    </ul>
  </nav>
  <script type="text/template" class="modal-gallery-template" />
	<div class="modal-gallery">
      <div class="modal-background"></div>
	  <ul class="gallery-container carousel-container">
          <% for (var i=0,len=images.length; i<len; i++) { %>
          <li class="gallery-content carousel-content"><img src="<%= (images[i]).src %>" alt="" /></li>
          <% } %>
      </ul>
      <nav class="dot-nav cf">
        <ul class="carousel-indicator">
          <% for (var i=0,len=images.length; i<len; i++) { %>
          <li>•</li>
          <% } %>
        </ul>
      </nav>
      <nav class="paddle-nav">
        <ul>
          <li><span class="paddle paddle-left carousel-prev">&lt;</span></li>
          <li><span class="paddle paddle-right carousel-next">&gt;</span></li>
        </ul>
      </nav>
      <i class="button-close"></i>
    </div>
  </script>
</section>







  </article>
  <!-- /!MEDIA -->    
  <!-- !ARTICLES -->        
  <article class="main" id="articles">
    <section class="row articles articles-initialized">
  <section>
  <a href="https://articles.roland.com/listening-guide-essential-women-in-hip-hop/">
    <figure><img src='https://static.roland.com/assets/images/articles/thumbnails/avp_women_in_hip_hop.jpg' alt='Listening Guide: Essential Women in Hip-Hop' /></figure>
  </a>
  <h3>Listening Guide: Essential Women in Hip-Hop<small></small></h3>
  <p>Before hip-hop was the world&#39;s most dominant musical genre, several groundbreaking women blazed a fiery trail for others to follow.<a href="https://articles.roland.com/listening-guide-essential-women-in-hip-hop/" >Read more…</a></p>
</section>
<section>
  <a href="https://articles.roland.com/8-secrets-of-the-808/">
    <figure><img src='https://static.roland.com/assets/images/articles/thumbnails/avp_8_secrets_of_the_808_tn.jpg' alt='8 Secrets of the 808' /></figure>
  </a>
  <h3>8 Secrets of the 808<small></small></h3>
  <p>There&rsquo;s no question the revered 808 changed the face of contemporary music. From Phil Collins to the Beastie Boys, time and time again the TR-808 Rhythm Composer supercharged the backbeat of pop music&rsquo;s most powerful hits.<a href="https://articles.roland.com/8-secrets-of-the-808/" target='_blank'>Read more…</a></p>
</section>
<section>
  <a href="https://articles.roland.com/designing-custom-drums-for-roland-clouds-tr-909-and-tr-808/">
    <figure><img src='https://static.roland.com/assets/images/articles/thumbnails/avp_designing_custom_drums_tn.jpg' alt='Designing Custom Drums for Roland Cloud’s TR-909 and TR-808' /></figure>
  </a>
  <h3>Designing Custom Drums for Roland Cloud’s TR-909 and TR-808<small></small></h3>
  <p>Roland&#39;s TR-909 and TR-808 are two of the most iconic drum machines in music history. Learn to create custom drum sounds with both of them.<a href="https://articles.roland.com/designing-custom-drums-for-roland-clouds-tr-909-and-tr-808/" target='_blank'>Read more…</a></p>
</section>

</section>




  </article>
  <!-- /!ARTICLES -->    
  <!-- !ACCESSORIES -->
  <article class="main" id="accessories">  
    <section class="product-list product-tile">
  <ul class="cf">
    
  </ul>
</section>



  </article>
  <!-- /!ACCESSORIES -->  
  <!-- !DOWNLOADS -->
  <article class="main" id="downloads">
    <section class="downloads row content">
  <h2>Downloads</h2>
  <nav class="contentnav">
    <ul class="cf">
      
      
    </ul>
  </nav>
  
  
  
  
  
  
  
  
</section>





  </article>
  <!-- /!DOWNLOADS -->
  <!-- !SUPPORT -->
  <article class="main" id="support">
    


<section class="support row content">
  <h2>Support</h2>
  <nav class="contentnav">
    <ul class="cf">
      <li><a href="index.html#dl-manuals">Owner's Manuals</a></li>
      
    </ul>
  </nav>
  
  <section class="support-intro">
    <p>If you have questions about operating your Roland product, please check our <a href="/global/support/knowledge_base/" target="_self" title="Knowledge Base">Knowledge Base</a> for answers to the most common questions.<br />
You can also contact our <a href="../../../support/index.html" target="_self" title="Product Support">Product Support</a> through <a href="/backstage/" target="_self" title="Roland Backstage">Roland Backstage</a>.<br />
In addition, we have a library of <a href="../../../support/owners_manuals/index.html" target="_self" title="Owner's Manuals">Owner&rsquo;s Manuals </a>and <a href="../../../support/support_documents/index.html" target="_self" title="Support Documents">Support Documents</a> that you can download and reference.</p>

  </section>
  
  
      <section id="dl-manuals" class="asset-list">
        <h4>Owner's Manuals</h4>
        <ul>
        
          <li>
            <h5><a href="../../../support/by_product/rc_tr-808/owners_manuals/55fac6d2-e6c0-4b64-b9e1-df16cf7cd58e/index.html">[English] TR-808 Software Rhythm Composer Owner's Manual</a></h5>
            
          </li>
        
        </ul>
      </section>
    
  
  
  
  
  
</section>




<script>
var getSegment = window.location.pathname.split("/")[3];
if(document.querySelector(".kb-link")) {
	var kbBaseLink = document.querySelector(".kb-link").getAttribute("href");
	document.querySelector(".kb-link").setAttribute("href", kbBaseLink+"?product="+getSegment);
}
</script>
  </article>
  <!-- /!SUPPORT -->
</div>

<!-- !PROMOS -->
<aside id="promos">
  <div class="row">
  <div class="flushrow">
    <ul class="carousel-container cf">




<li>
    <a id="p_lt_ctl04_pageplaceholder_p_lt_ctl11_BasicRepeater13_ctl00_ctl00_ctl00_repeaterPromo_ctl00_ctl00_repeaterPromo_ctl00_ctl00_lnkBanner" href="../../../categories/featured_products/index.html">
    <figure>
      <img id="p_lt_ctl04_pageplaceholder_p_lt_ctl11_BasicRepeater13_ctl00_ctl00_ctl00_repeaterPromo_ctl00_ctl00_repeaterPromo_ctl00_ctl00_imgBanner" src="data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs%3D" data-src="https://static.roland.com/assets/promos/jpg/promo_roland_featured_products.jpg" alt="Roland Featured Products" />
      <noscript><img src="https://static.roland.com/assets/promos/jpg/promo_roland_featured_products.jpg" alt="Roland Featured Products" /></noscript>
        <figcaption class="viewmore">Roland Featured Products</figcaption>
    </figure>
    </a>
</li>





<li>
    <a id="p_lt_ctl04_pageplaceholder_p_lt_ctl11_BasicRepeater13_ctl00_ctl00_ctl00_repeaterPromo_ctl00_ctl00_repeaterPromo_ctl01_ctl00_lnkBanner" href="../../../international/index.html">
    <figure>
      <img id="p_lt_ctl04_pageplaceholder_p_lt_ctl11_BasicRepeater13_ctl00_ctl00_ctl00_repeaterPromo_ctl00_ctl00_repeaterPromo_ctl01_ctl00_imgBanner" src="data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs%3D" data-src="https://static.roland.com/assets/promos/jpg/promo_roland_international.jpg" alt="Roland International" />
      <noscript><img src="https://static.roland.com/assets/promos/jpg/promo_roland_international.jpg" alt="Roland International" /></noscript>
        <figcaption class="viewmore">Roland International</figcaption>
    </figure>
    </a>
</li>





<li>
    <a id="p_lt_ctl04_pageplaceholder_p_lt_ctl11_BasicRepeater13_ctl00_ctl00_ctl00_repeaterPromo_ctl00_ctl00_repeaterPromo_ctl02_ctl00_lnkBanner" href="../../../social_media/index.html">
    <figure>
      <img id="p_lt_ctl04_pageplaceholder_p_lt_ctl11_BasicRepeater13_ctl00_ctl00_ctl00_repeaterPromo_ctl00_ctl00_repeaterPromo_ctl02_ctl00_imgBanner" src="data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs%3D" data-src="https://static.roland.com/assets/promos/jpg/promo_worldwide_social_network.jpg" alt="Worldwide Social Network" />
      <noscript><img src="https://static.roland.com/assets/promos/jpg/promo_worldwide_social_network.jpg" alt="Worldwide Social Network" /></noscript>
        <figcaption class="viewmore">Worldwide Social Network</figcaption>
    </figure>
    </a>
</li>








    </ul>
  </div>
</div>
<nav class="paddle-nav">
  <ul>
    <li><a href="javascript:void(0)" class="paddle paddle-left carousel-prev">&lt;</a></li>
    <li><a href="javascript:void(0)" class="paddle paddle-right carousel-next">&gt;</a></li>
  </ul>
</nav>

</aside>
<!-- !PROMOS -->

  <!-- !BACK TO TOP -->
  <div class="backtotop">
    <a href="index.html#" class="button-up"></a>
  </div>
  <!-- /!BACK TO TOP -->
  <footer id="globalfooter" role="contentinfo">
    <div id="gf-informations">
      
<ul class="gf-links cf">
	<li><a href="../../../international/index.html">International Page</a></li>
	<!--<li><a href="https://contentstore.roland.com/">Roland Content Store</a></li>-->
</ul>


    </div>
    <div id="gf-service">
      <div class="row cf">
        
<ul class="gf-share">
  <li><a href="https://www.facebook.com/RolandGlobalOfficial" target="_blank" title="Roland Corporation"><i class="icon icon-facebook">Facebook</i></a></li>
  <!--<li><a href="https://www.facebook.com/OfficialRolandAIRA/" target="_blank" title="Roland AIRA"><i class="icon icon-facebook">Facebook</i></a></li>
  <li><a href="https://www.facebook.com/Roland.Spotlight/" target="_blank" title="Roland.Spotlight"><i class="icon icon-facebook">Facebook</i></a></li>
  <li><a href="https://www.facebook.com/therolandcloud/" target="_blank" title="Roland Cloud"><i class="icon icon-facebook">Facebook</i></a></li>
  <li><a href="https://twitter.com/RolandSpotlight" target="_blank" title="Roland.Spotlight"><i class="icon icon-twitter">Twitter</i></a></li>
  <li><a href="https://twitter.com/RolandExpCh" target="_blank" title="Roland Experience Channel"><i class="icon icon-twitter">Twitter</i></a></li>
  <li><a href="https://www.twitter.com/therolandcloud" target="_blank" title="Roland Cloud"><i class="icon icon-twitter">Twitter</i></a></li>-->
  <li><a href="https://www.youtube.com/user/RolandChannel" target="_blank" title="Roland Channel"><i class="icon icon-youtube">YouTube</i></a></li>
  <!--<li><a href="https://www.youtube.com/c/RolandSupportChannel" target="_blank" title="Roland Support Channel"><i class="icon icon-youtube">YouTube</i></a></li>
  <li><a href="https://www.youtube.com/channel/UCvN88Pl91O0cEeS6lHbRcMA" target="_blank" title="Roland Cloud"><i class="icon icon-youtube">YouTube</i></a></li>
  <li><a href="index.html#"><i class="icon icon-google">Google+</i></a></li>
  <li><a href="index.html#"><i class="icon icon-rss">RSS</i></a></li>
  <li><a href="https://www.instagram.com/rolandaira/" target="_blank" title="Roland AIRA"><i class="icon icon-instagram">Instagram</i></a></li>
  <li><a href="https://www.instagram.com/roland.spotlight/" target="_blank" title="Roland.Spotlight"><i class="icon icon-instagram">Instagram</i></a></li>
  <li><a href="https://www.instagram.com/roland.experience.channel/" target="_blank" title="Roland Experience Channel"><i class="icon icon-instagram">Instagram</i></a></li>
  <li><a href="https://www.instagram.com/therolandcloud" target="_blank" title="Roland Cloud"><i class="icon icon-instagram">Instagram</i></a></li>
  <li><a href="index.html#"><i class="icon icon-flickr">Flickr</i></a></li>
  <li><a href="index.html#"><i class="icon icon-pinterest">Pinterest</i></a></li>-->
  <li><a href="https://soundcloud.com/rolandcom" target="_blank" title="Roland Corporation"><i class="icon icon-soundcloud">SoundCloud</i></a></li>
</ul>


        <ul class="gf-links">
          


          
            <li class="gf-region"><a href="../../../international/index.html">Change Region<i class="flag flag-global"><span class="sr-only">Flag Icon</span></i></a></li>
          
	    </ul>
        </div>
    </div>
    <nav id="directorynav">
      <div class="row">


<section class="column">
<h3><a href="../../../categories/index.html" >Products</a></h3>
  
<ul><li><a href="../../../categories/featured_products/index.html" >Featured Products</a></li>

<li><a href="../../../categories/pianos/index.html" >Pianos</a></li>

<li><a href="../../../categories/organs/index.html" >Organs</a></li>

<li><a href="../../../categories/synthesizers/index.html" >Synthesizers</a></li>

<li><a href="../../../categories/keyboards/index.html" >Keyboards</a></li>

<li><a href="../../../categories/guitar_bass/index.html" >Guitar & Bass</a></li>

<li><a href="../../../categories/drums_percussion/index.html" >Drums & Percussion</a></li>

<li><a href="../../../categories/wind_instruments/index.html" >Wind Instruments</a></li>

<li><a href="../../../categories/production/index.html" >Production</a></li>

<li><a href="../../../categories/amplifiers/index.html" >Amplifiers</a></li>

<li><a href="../../../categories/aira/index.html" >AIRA & DJ</a></li>

<li><a href="../../../categories/roland_cloud/index.html" >Roland Cloud</a></li>

<li><a href="https://proav.roland.com/global/" target="_blank">Professional A/V</a></li>

<li><a href="../../../categories/accessories/index.html" >Accessories</a></li>

<li><a href="../../../categories/apps/index.html" >Apps</a></li>

</ul>

</section>





<section class="column">
<h3><a href="../../../community/index.html" >Community</a></h3>
  
<ul><li><a href="https://www.facebook.com/Roland" target="_blank">Facebook</a></li>
<li><a href="https://www.youtube.com/user/RolandChannel" target="_blank">YouTube</a></li>
<li><a href="https://twitter.com/RolandGlobal" target="_blank">Twitter</a></li>
<li><a href="https://www.instagram.com/rolandglobal/" target="_blank">Instagram</a></li>
<li><a href="../../../social_media/index.html" target="_self">Worldwide Social Network</a></li>
</ul>

</section>





<section class="column">
<h3><a href="../../../support/index.html" >Support</a></h3>
  
<ul><li><a href="../../../support/updates_drivers/index.html" >Updates & Drivers</a></li>
<li><a href="../../../support/owners_manuals/index.html" >Owner’s Manuals</a></li>
<li><a href="../../../support/support_documents/index.html" >Support Documents</a></li>
<li><a href="https://www.youtube.com/c/RolandSupportChannel" target="_blank">Quick Start Video</a></li>
<li><a href="/global/support/knowledge_base/" target="_self">Knowledge Base</a></li>
<li><a href="../../../support/support_news/index.html" >Support News</a></li>
<li><a href="../../../support/archives/readfirst/index.html" >Legacy Product Info</a></li>
</ul>

</section>





<section class="column">
<h3><a href="https://articles.roland.com/" target="_blank">Articles</a></h3>
  
<ul><li><a href="https://articles.roland.com/stories" target="_blank">Stories</a></li>
<li><a href="https://articles.roland.com/learn" target="_blank">Learn</a></li>
<li><a href="../../../discover/index.html" >Discover</a></li>
</ul>

</section>





<section class="column">
<h3><a href="https://ir.roland.com/en/ir.html" target="_blank">IR</a></h3>
  
<ul><li><a href="https://ir.roland.com/en/ir/management.html" target="_blank">Management Policy</a></li>
<li><a href="https://ir.roland.com/en/ir/finance.html" target="_blank">Financial Information</a></li>
<li><a href="https://ir.roland.com/en/ir/library.html" target="_blank">IR Library</a></li>
<li><a href="https://ir.roland.com/en/ir/stock.html" target="_blank">Stock Information</a></li>
</ul>

</section>





<section class="column">
<h3><a href="../../../sustainability/index.html" target="_self">Sustainability</a></h3>
  
<ul><li><a href="../../../sustainability/policy/index.html" >Basic Sustainability Policy</a></li>
<li><a href="../../../sustainability/environment/index.html" >For “Environment”</a></li>
<li><a href="../../../sustainability/society/index.html" >In “Society”</a></li>
<li><a href="https://www.roland.com/global/sustainability/people/" >Respecting “People”</a></li>
<li><a href="../../../sustainability/customer/index.html" >To “Customers”</a></li>
<li><a href="../../../sustainability/partner/index.html" >With “Partners”</a></li>
<li><a href="../../../sustainability/governance/index.html" >Corporate Governance</a></li>
<li><a href="../../../sustainability/compliance_guideline/index.html" >Compliance Guidelines</a></li>
<li><a href="../../../sustainability/compliance_action/index.html" >Actions for the Compliance</a></li>
<li><a href="https://ir.roland.com/en/ir/management/Investment.html" target="_blank">Investment for Growth</a></li>
<li><a href="../../../sustainability/intellectual_property/index.html" >Intellectual Property and Brand Protection</a></li>
</ul>

</section>





<section class="column">
<h3><a href="../../../company/index.html" target="_self">Company</a></h3>
  
<ul><li><a href="../../../company/overview/index.html" >Corporate Information</a></li>
<li><a href="../../../company/philosophy/index.html" >Philosophy</a></li>
<li><a href="../../../company/overview/business_brand/index.html" >Brands</a></li>
<li><a href="../../../company/press_releases/index.html" >Press Releases</a></li>
<li><a href="../../../company/history/index.html" >History</a></li>
<li><a href="../../../../us/patent/index.html" >Virtual Patent Marking</a></li>
</ul>

</section>




</div>
    </nav>
      
<ul id="gf-promos" class="cf">
  <li> <a href="http://www.boss.info/global/">
    <h3><img src="https://static.roland.com/global/images/promo_boss_title.png" alt="BOSS"></h3>
    <img src="https://static.roland.com/global/images/promo_boss.jpg" alt="BOSS"> </a> </li>
  <li> <a href="https://www.v-moda.com/us/en/" target="_blank">
    <!--<h3><img src="https://static.roland.com/global/images/promo_v-moda_title.png" alt="V-MODA"></h3> -->
    <img src="https://static.roland.com/global/images/promo_v-moda.png" alt="V-MODA"> </a> </li>
</ul>


    <div id="gf-legal" class="row">
      <ul class="gf-links cf">
<ul>
	<li><a href="../../../privacy/index.html">Privacy Statement</a></li>
	<li><a href="../../../terms_of_use/index.html">Terms of Use</a></li>
    <li><a href="../../../accessibility/index.html">Accessibility Statement</a></li>
	<li><a href="../../../social_media/index.html">Worldwide Social Network</a></li>
</ul>
</ul><p class="copyright">Copyright &copy; 2023 Roland Corporation</p>
    </div>
  </footer>              


<!-- Google Tag Manager -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WMTGPC"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-WMTGPC');</script>
<!-- End Google Tag Manager -->
<!-- Common Metatags -->
<!-- AudienceX -->
<script type="text/javascript">
var utag_data = {
	revenue : "",
	orderid : ""
}
</script>

<script type="text/javascript">
(function(a,b,c,d){
	a='https://tags.tiqcdn.com/utag/audiencex/roland/prod/utag.js';
	b=document;c='script';d=b.createElement(c);d.src=a;d.type='text/java'+c;d.async=true;
	a=b.getElementsByTagName(c)[0];a.parentNode.insertBefore(d,a);
})();
</script>
<!-- /AudienceX -->
<!-- End Common Metatags -->


    
    

<script type="text/javascript">
	//<![CDATA[
WebServiceCall('/cmsapi/webanalytics', 'LogHit', '{"NodeAliasPath":"/global/categories/Product-Category-Page/Product-Subcategory-Page/Product-Page","DocumentCultureCode":"en-JM","UrlReferrer":""}')
//]]>
</script><script src="https://static.roland.com/global/js/replaceSearch.js" type="text/javascript"></script>  <input type="hidden" name="__VIEWSTATE" id="__VIEWSTATE" value="9EGShxbenpAYfkocPiZurr0d9gEexnJqmFgEbQtEAwNKzXhooP2AorWH9TfLmaX9wHQ/5vSoFQkQjO5XCNbCXmoweNuBFYkHvMG5YHBtt7poiY3gM6xq9/wk5Jt7cgYrifh3ezx1dq9YUypn6wegp66tEfC6eL0/yX8iKiMeWsLgCifF0Jm3LNRyH6cLjVQ+VUuf+4by6fiMEIdpAjExXzgTjAoUWmuQ7E1mlnI6l2agS3tFqOJi7HtsVr8cr3JwapA41ZXxfN5ID8nX4a+ZAp/EQpt22MRET16/FLR4mzMx8ls0haxGrWS/zKorJS8Q19HxZa9ToRMOCZveS75YbTyUA7z7sL1xMgfxyO9rKANvp/5DQxJhFcmunrnDHfydXM+nV6n/GdLP4NWPifz7pxOUtwvErgKERUQN8MV4oo9qr0Z0FbnC4nAW/t4TOtzk3m+iAeVIx+6yPnemEMLs1Iowf12eTZXIXi28e7TPbsEOLB5aSnhKli2QVwWjogjcU+gpdrmXBy7WGj1aTlqPLTQTjZjXDyNnfnQ3NJjuo/TqRwnutQVHzr6Zv1nhRRUR8mDTAY2c186rqYEdeJNZzqz+IQ4rxWsZE1aWq4ezYZ7vBUKvTQyLwwylUS/fALjz1X4Z3db1s+jUWj1ZxmgjFS1rpxCcKM/g1GfX08ecM7W7ssavyPMlQYo8fJsk+FQLvGqqg14sAX4JFV/FyI8d8SBoBvg94jhfngMOglw+k38TQvzzQT9XoOE0OpVGXpQdDkv/4qwxcwDNNdVPYnjICQ==" />
  <script type="text/javascript">
      //<![CDATA[
      if (window.WebForm_InitCallback) {
        __theFormPostData = '';
        __theFormPostCollection = new Array();
        window.WebForm_InitCallback();
      }
      //]]>
    </script>
  </form>
</body>
</html>
